/* Sign Up */
.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.Logo {
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
}
.Logo2 {
  position: absolute;
  right: 10px;
  padding-top: 10px;
}
.LogoAndImg {
  width: 50%;
  height: 100vh;
  background-color: #e5e5e6;
}
.LogoAndImg2 {
  width: 50%;
  height: 100vh;
  background-color: #dcdddf;
}

.LogoAndImg .NurseImg {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.LogoAndImg2 .NurseImg {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.signUpForm h1 {
  font-weight: 700;
}
.signUpForm form {
  display: flex;
  flex-direction: column;
}
.signUpForm form input {
  width: 450px;
  height: 40px;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  outline: none;
  font-size: 13px;
  font-weight: 500;
}
.signUpForm button {
  margin-top: 30px;
  background-color: #00b4c5;
  color: white;
  border: none;
  width: 170px;
  height: 40px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.signUpForm h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.signUpForm a {
  font-size: 16px;
  text-decoration: none;
  color: #00b4c5;
}
